html {

}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #e1e1e5;
    opacity: 0.1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e1e1e5 40px ), repeating-linear-gradient( #5caee655, #5caee6 );
    z-index: -1;
}

#holder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #f3f0f0;
    --button_outline_color: #48a9ec;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

#button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.55em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

button:hover #button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active #button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

p {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
}

label {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
    color: #5caee6;
}

input {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 0.4vw;
}



