html {

}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #dfeaeb;
    opacity: 0.2;
    background-image: radial-gradient(circle at center center, #48a9ec, #dfeaeb), repeating-radial-gradient(circle at center center,
    #48a9ec, #48a9ec, 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
    z-index: -1;
}

#holder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #f3f0f0;
    --button_outline_color: #48a9ec;
    font-size: 2vw;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
}

#button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.55em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
}

button:hover #button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active #button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

p {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
}

label {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
}

input {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 0.4vw;
    cursor: pointer;
}

#leftHold {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 10vw;
    top: 15vh;
    width: 20vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#leftHold h1 {
    font-family: "cc-dash-to-school-shadow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5vw;
}

#picHold {
    width: 100%;
    background-image: none;
    border-radius: 0.4vw;
    border: 10px solid #48a9ec;
    filter: saturate(110%);
    transition: 0.5s;
    display: none;
    z-index: 3;
}

#picHold:hover {
    transition: 0.5s;
    transform: translateY(-0.1vw);
    filter: saturate(200%);
    cursor: pointer;
}

#rightHold {
    position: fixed;
    width: 25vw;
    right: 2.5vw;
    top: 0vh;
    animation: bgScrollLeft 25s linear infinite;
    animation-direction: alternate-reverse;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightTing {
    width: 100%;
    border-radius: 0.4vw;
    background-image: none;
}

@keyframes bgScrollLeft {
    from {
        top: -190vh;
    }
    to {
        top: 0vh;
    }
}